.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    background: #071f4e;
    filter: brightness(100%);
    background: linear-gradient(180deg, rgba(79,105,158,1) 0%, rgba(7,31,78,1) 65%);
    color: white;
    padding: 5px 10px;
    border-left: 1px white solid;
}

.button:hover {
    filter: brightness(130%);
}

.menuItem {
    background: #071f4e !important;
    color: white !important;
}

.menuItem:hover {
    filter: brightness(130%);
}